/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

.nav-elements {
    white-space: nowrap;
    overflow: hidden;
}

body {
  background-image: url("https://fastly.picsum.photos/id/929/1900/1080.jpg?hmac=LdZj24F2qm-EDFxaDCO_IUav9QxPhbrFzL1GO43N9_4");
  background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  backdrop-filter: brightness(0.6);
}

#hero-section {
/*   background-image: url("https://fastly.picsum.photos/id/929/1900/1080.jpg?hmac=LdZj24F2qm-EDFxaDCO_IUav9QxPhbrFzL1GO43N9_4");
  background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; */
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}

#hero-text {
  color: white;
}

#hero-text h1 {
  padding: 20px;
}

#mission-section{
  background-color: #18344d;
  color: white;
}

.mission-section-contents{
  padding: 80px; 
}

.mission-section-contents h1{
  text-align: center;
  padding-bottom: 50px;
}

.mission-section-contents div div p{
  padding-top: 50px; 
}

#skills-section{
  background-color: #315f87;
  color: white;
}

.skills-section-contents{
  padding: 80px;
}

.skills-section-contents h1{
  text-align: center;
  padding-bottom: 50px;
}

#image {
  max-height: 200px;
  max-width: 200px;
}

.skills-section-contents div{
  
}

#contact-section{
  background-color: #39a795;
  color: white;
}

.contact-section-contents{
  padding: 80px;
}

.contact-section-contents h1{
  text-align: center;
}

.contact-icons{
  padding-top: 50px;
  transition: transform 0.8s;
}

.contact-icons:hover{
  transform: scale(1.4);
}

#carousel-seciton {
/*   padding-left: 250px;
  padding-right: 250px; */
  padding-top: 50px;
  padding-bottom: 50px;
}

#carousel-seciton h1 {
  text-align: center;
  color: white;
  padding: 20px;
}

#footer-section{
  padding: 20px;
  text-align: center;
  background-color: #1d3b4e;
  color: white;
}

.carousel-caption {
	background-color: rgba(0,0,0,.5);
}